body{
	background-image:url("http://www.o-tacos.fr/file/2015/02/Capture-d%E2%80%99%C3%A9cran-2016-03-22-%C3%A0-12.58.28.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#menu, #menu ul{
	padding: 0;
	margin:0;
	list-style: none;
	line-height: 21px;
	text-align: center;
}

#menu{
	font-weight: bold;
	font-family: fantasy;
	font-size: 16px;
}

#menu a{
	display:block;
	padding:0;
	background: transparent;
	color: #fff;
	text-decoration: none;
	width:144px;
}

#menu li{
	float:left;
	border-right: 1px solid #fff;
}

body #menu li{
	border-right: 1px solid transparent;
}

#menu	li ul{
	position: absolute;
	width: 144px;
	left:-999em;
}

#menu li ul li{
	border-top: 1px solid #fff;
}

html>body #menu li ul li{
	border-top: 1px solid transparent;
}

#menu li ul ul{
	margin: -22px 0 0 144px;
	border-left: 1px solid #fff;
}

html>body #menu li ul ul{
	border-left: 1px solid transparent;
}

#menu a:hover{
	color: #000;
	background: #fff;
}

#menu li:hover ul ul{
	left:-999em;
}

#menu li:hover ul, #menu li li:hover ul{
	left: auto;
	min-height: 0;
}
